.main h1{
    text-align: center;
    margin: 2vh 0;
}

.divHome{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.divHome p{
   
    text-align: center;
   
}
.divHome a{
   
    text-decoration: none;
   
}

.campagne{
    border: 2px solid black;
    border-radius: 50px;
    height: 500px;
    width: 500px;
}

.perso{
    border: 2px solid black;
    border-radius: 50px;
    height: 500px;
    width: 500px;
}

.combat{
    border: 2px solid black;
    border-radius: 50px;
    height: 500px;
    width: 500px;
}